html {
    font-size: 62.5%;
    /* 16px * 62.5% = 10px */
    width: 100%;
}

body {
    color: #333;
    /* RGB */
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 2.4rem;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    display: inline-block;
    width: 75px;
}

/* -------header --------*/
.header {
    height: 60px;
    width: 100%;
    background-color: #FFF;
}

.header-logo {
    position: absolute;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 5px 17px;
    text-align: left;
    left: 200px;
    font-size: 2.0rem;
}

.contents-menu {
    display: flex;
    justify-content: right;
    gap: 30px;
    list-style: none;
}

.contents-menu a {
    text-decoration: none;
    color: #333;
}

.bicycle {
    padding-right: 200px;
}

/*---------header　PCsize---------*/
@media(min-width: 960px) {
    .header-content-wrapper {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
}

/*---------header　Mobile size---------*/
@media(max-width: 960px) {
    .header-logo {
        left: 10px;
    }

    .bicycle {
        padding-right: 10px;
    }
}

/*---------main---------*/
.main {
    background-color: #FFF;
}


.section-top__image {
    background-image: url("https://github.com/coto-no/Practice1/blob/main/mainvisual.jpg?raw=true");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
}

/*---------main　PCsize---------*/
@media(min-width: 960px) {
    .top-wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }
}

/*--------- section-about ---------*/
.section-about-content-wrapper h2 {
    margin-top: 85px;
    margin-bottom: 60px;
}

.section-about__profile__picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("https://github.com/coto-no/Practice1/blob/main/about.jpg?raw=true");
    background-size: auto 150px;
    background-position: center center;
    margin: auto;
}

/*--------- section-about-pc ---------*/
@media(min-width: 960px) {
    .section-about__profile {
        display: flex;
        justify-content: center;
    }

    .section-about__profile__introduce {
        text-align: left;
        margin-left: 30px;
    }

    .section-about__profile__picture {
        margin: 30px 0;
    }
}

/*--------- section-bicycle ---------*/
.section-bicycle-content-wrapper h2 {
    margin-top: 85px;
    margin-bottom: 60px;
}

.section-bicycle-images h4 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.image1 {
    margin-bottom: 35px;
    ;
}

.image2 {
    margin-bottom: 35px;
    ;
}

.image3 {
    margin-bottom: 115px;
    ;
}

/*---------section-bicycle　Mobile size---------*/
@media(max-width: 960px) {
    .section-bicycle-image {
        width: 100%;
    }
}

/*--------- section-bicycle　PC size ---------*/
@media(min-width: 960px) {
    .section-bicycle-images {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 200px;
    }
    .section-bicycle-image {
        width: 100%;
        height: 182px;
    }
}
